ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


.gren_button {
    a, button {
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 6px;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        background: #33CB33;
        border: solid 1px #33CB33;
        cursor: pointer;
        border-radius: 70px;
    }
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(51, 203, 51, 0.1);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #33CB33;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #08bc08;
}
