* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
}

.auth_page {
    width: 100vw;
    height: 100vh;
    background: #EBF3F9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    .before_login_sec {
        width: 100%;
        max-width: 415px;
        .logo {
            text-align: center;
            margin-bottom: 35px;
        }
        .wrap_box {
            width: 100%;
            padding: 40px 30px 50px;
            border-radius: 16px;
            background: #FFF;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
            .head {
                width: 100%;
                text-align: center;
                color: #000;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 30px;
                h2 {
                    color: #000;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin: 0 0 10px;
                }
            }
            .form-group {
                width: 100%;
                padding-bottom: 15px;
                margin-bottom: 5px;
                label {
                    color: #000;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                .field {
                    width: 100%;
                    position: relative;
                    .icon {
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 13px;
                        margin: auto;
                        z-index: 1;
                    }
                    .form-control {
                        width: 100%;
                        height: 47px;
                        padding: 10px;
                        border-radius: 6px;
                        border: none;
                        background: rgba(52, 132, 188, 0.10);
                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }
                    }
                    &:has(.icon) {
                        .form-control {
                            padding-left: 45px;
                        }
                    }
                }
                &.forgot_password {
                    text-align: right;
                    a {
                        color: #298FD5;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
                .login {
                    width: 226px;
                    height: 53px;
                    border-radius: 6px;
                    background: #298FD5;
                    padding: 15px 30px;
                    color: #FFF;
                    text-align: center;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 15px auto 0;
                    border: none;
                }
            }
        }
        .allready_account {
            text-align: center;
            margin-top: 20px;
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            a {
                color: #298FD5;
            }
        }
    }
}